<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="LeafTaps">
  <test thread-count="5" name="chrome">
  <parameter name="browser" value="Chrome"></parameter>
  <parameter name="url" value="http://leaftaps.com/opentaps/"></parameter>
  <parameter name="username" value="demosalesManager"></parameter>
  <parameter name="password" value="crmsfa"></parameter>
      <classes>
      <class name="testcase.CreateLead"/>
      <class name="testcase.DeleteLead"/>     
    </classes>
  </test> <!-- Test -->
 <!--  <test thread-count="5" name="Leads">
    <parameter name="browser" value="Edge"></parameter>  
  <parameter name="url" value="http://leaftaps.com/opentaps/"></parameter>
  <parameter name="username" value="demosalesManager"></parameter>
  <parameter name="password" value="crmsfa"></parameter>
       
    <classes>
      <class name="testcase.CreateLead"/>
      <class name="testcase.DeleteLead"/>     
    </classes>
  </test>  -->
</suite> <!-- Suite -->
