<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="LeafTaps">
  <test thread-count="5" name="Leads">
    <classes>
      <class name="testcase.CreateLead"/>
      <class name="testcase.DeleteLead"/>     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
